/* Feel free to modify anything in this file.*/
html body {
	background-color: #ecedd5;
}
.a-body {
  background-color: #fff;
}

header {
	padding-left: 40px;
	padding-top: 20px;
}
.a-hero {
  position: relative;
  width: 100%;
  height: 30vh;
  padding: 0;
  text-align: center;
  opacity: 100%;
}
.a-hero-bg {
  background: url('./hero.jpg') top center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
  opacity: 0.4;
  z-index: -1;
}
.a-hero-content {
  z-index: 9999;
  padding-top: 70px;
  color: black;
}
.vendor-wrapper {
	justify-content: left;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.vendor-photo {
	max-width: 200px;
	max-height: 150px;
	padding-right: 20px;
}

.vendor-book-button {
	font-size: 2em;
}

.content-pane {
  padding: 40px;
}

.fa-stack[data-count]:after{
  position: absolute;
  right: 0%;
  top: 0%;
  content: attr(data-count);
  font-size: 40%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  color: #DF0000;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid;
}
.fa-circle {
  color: #DF0000;
}

.red-cart {
	color: #DF0000;
}
.btn-red {
  background: red;
  color: #fff;
}